@{
  Layout = "_Layout";
}

<h1>Welcome to the MyProject!</h1>
<p>@Html.ActionLink("See all Bars", "Index", "Bars")</p> <p>@Html.ActionLink("See all Foos", "Index", "Foos")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>